<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/final.css">
    <title>Competitive</title>
</head>
<body>

<div class="container">

    <h1>Competitive</h1>

    <div class="row">

        <div class="col-1"></div>

        <div class="col-8">

            <form action="#" method="post">

                <div class="form-group">
                    <label class="font-weight-bold">Platform</label>
                    <select name="platform" id="platform" class="form-control">
                        <option value="">Select One</option>
                        <repeat group="{{ @platform }}" value="{{ @plat }}">
                            <option value="{{ @plat }}">{{ @plat }}</option>
                        </repeat>

                    </select>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">GamerTag/PSN/BattleTag</label>
                    <input type="text" id="tag" name="tag" class="form-control">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold mb-3">Competitive Rank</label><br>
                    <repeat group="{{ @ranks }}" value="{{ @rank }}">
                        <check if="{{ @rank == @choice }}">
                            <true>
                                <input class="form-check-input" type="radio" value="{{ @rank }}"
                                       name="rank" checked="checked">
                                <label class="form-check-label ml-2 mr-4">
                                    {{ @rank }}</label><br>
                            </true>
                            <false>
                                <input class="form-check-input" type="radio" value="{{ @rank }}" name="rank">
                                <label class="form-check-label ml-2 mr-4">
                                    {{ @rank }}</label><br>
                            </false>
                        </check>
                    </repeat>
                    <check if="{{isset(@errors['rank'])}}">
                        <p class="alert-danger font-weight-bold">{{@errors['rank']}}</p>
                    </check>
                </div>

                <label class="font-weight-bold mb-3">Heroes</label><br>
                <div class="form-check form-check-inline flex-wrap">
                    <!-- Loops through the array of indoor interests and
                        displays each one -->
                    <repeat group="{{ @heroes }}" value="{{ @hero }}">
                        <div class="col-3">
                            <input class="form-check-input" type="checkbox" value="{{ @hero }}" name="heroes[]"
                            <check if="{{ in_array(@hero, @SESSION['heroes'])}}">checked = 'checked'</check>>
                            <label class="form-check-label mr-3">{{ @hero }}</label>
                        </div>
                    </repeat>
                </div><br><br>

                <label class="font-weight-bold mb-3">Heroes You Would Like To Be Paired With</label><br>
                <div class="form-check form-check-inline flex-wrap">
                    <!-- Loops through the array of indoor interests and
                        displays each one -->
                    <repeat group="{{ @heroes }}" value="{{ @hero }}">
                        <div class="col-3">
                            <input type="checkbox" value="{{ @hero }}" name="pairs[]">
                            <label class="form-check-label mr-3">{{ @hero }}</label>
                        </div>
                    </repeat>
                </div><br><br>
                <check if="{{isset(@errors['hero'])}}">
                    <p class="alert-danger font-weight-bold">{{@errors['hero']}}</p>
                </check>
                <input type="submit" name="submit" class="btn btn-dark text-warning btn-lg mb-3"
                       value="Next">
            </form>

        </div>

        <div class="col-3">
            <form action="gamers" method="post">
                <input type="submit" class="btn btn-dark text-warning btn-lg mb-5 float-right"
                       value="View Gamers">
            </form>
        </div>

    </div>

</div>

</body>
</html>