<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <title>Overwatch LFG</title>
</head>
<body>

<div class="container-fluid">
    <div class="row mt-3 justify-content-center text-center">

        <div class="col-8 mt-3">
            <!--<img src="http://i.imgur.com/IF0dVuY.png" alt="logo"> -->
            <!-- Page header -->
            <h1 class="text-center mb-3">Overwatch LFG</h1>

            <!-- Description -->
            <p class="text-left mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed ac arcu porta, semper nisl vitae, efficitur nibh. Donec vitae arcu vitae
                lorem mattis faucibus. Donec blandit imperdiet mollis. Suspendisse sed quam
                semper, pulvinar ante sed, consequat sem. Aliquam erat volutpat. Vestibulum vitae
                nisl sit amet sapien mattis elementum. Phasellus pharetra at magna quis auctor.
                Ut nec vestibulum orci, ut blandit urna. Morbi lorem ex, tempus ut nulla quis,
                aliquet volutpat ipsum.</p>

            <!-- Horizontal divider -->
            <hr>

            <h2>Let's get started!</h2><br>

            <!-- <form method="" action="#"> -->
            <input type="submit" class="btn btn-primary btn-lg" value="Create An Entry"><br>
            <h4>or</h4>
            <input type="submit" class="btn btn-primary btn-lg mb-5" value="View Gamers">
            <!-- </form> -->
        </div>


    </div>
</div>

</body>
</html>