<!DOCTYPE html>
<html lang="en">
<head>
    <!--

       Author Name: Sam Gabriel, Nic Alexander
       Date: March 20, 2019
       File Name: summary.html

       This displays a table of all casual players

    -->
    <meta charset="UTF-8">
    <script src="JS/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="styles/final.css">
    <title>Casual Players</title>
</head>
<body>

<h1>All Casual Players</h1>

<!-- Link to the home page -->
<a id="this" href="/328/final" class="btn btn-dark text-warning btn-lg mb-5 float-right">Home</a>

<!-- Displays all casual players in a table -->
<table class="mt-4" id="players">
    <thead>
    <tr>
        <th>Platform</th>
        <th>Tag</th>
        <th>Mode</th>
        <th>Heroes</th>
        <th>GameType</th>
    </tr>
    </thead>
    <tbody>
        <repeat group="{{@players}}" value="{{@player}}">
            <tr>
                <td>{{@player['platform']}}</td>
                <td>{{@player['tag']}}</td>
                <td>{{@player['modes']}}</td>
                <td>{{@player['heros']}}</td>
                <td>{{@player['type']}}</td>
            </tr>
        </repeat>
    </tbody>
</table>

<script src="//code.jquery.com/jquery-3.3.1.js"></script>
<!-- jQuery data table -->
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $("#players").DataTable();
</script>
</body>
</html>