@charset "utf-8";

/* This file contains CSS for the LFG page */

/*

   Author Name: Sam Gabriel, Nic Alexander
   Date: March 20, 2019
   File name: final2.css

*/

/* Class Styles */
.err {

    visibility: hidden;
    color: orange;
    text-shadow: 2px 2px black;
    padding-left: 0.3em;
}

/* Game type options on the home page */
#gameType {

    display: none;
}

/* HTML and body styles */
html,body {

    background: url("ppl.jpg");
    background-size: cover;

}